databaseType = "MariaDb"
id = "e18409bc-3b86-4a5e-96db-1facfd57b879"
name = "NerdyGadgetsRobotics"

[flyway]
locations = ["filesystem:migrations"]
mixed = true
outOfOrder = true
validateMigrationNaming = true
baselineOnMigrate = true  # Add this line to enable baselineOnMigrate
[flyway.check]
majorTolerance = 0

[flywayDesktop]
developmentEnvironment = "development"
schemaModel = "schema-model"
shadowEnvironment = "shadow"

[redgateCompare]
filterFile = "filter.rgf"
[redgateCompare.mysql.options.ignores]
ignoreNewlinesInTextObjects = "off"

[environments.nerdygadgets]
url = "jdbc:mariadb://localhost:3306/nerdygadgets"
user = "root"
schemas = ["nerdygadgets"]
displayName = "nerdygadgets"
